body {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    background-color: rgb(0, 0, 0);
    padding: 0px;
    margin: 0px;
}
.main {
    margin-left: auto;
    margin-right: auto; 
    width: 1024px;
    height: 1280px;
    
}
#rimbaud {
    position: absolute;
    top: 0;
    width: 1024px;
    height: 1280px;
    background-image: url("../img/silhouette.svg");
    background-repeat: no-repeat;
    background-position: top;
    opacity:0;
}

.meet {
    margin-left: 218px;
    margin-right: 173px;
    width: auto;
    height: 670px;
    /* background-color: rgb(140, 00, 0); */
}


.centered {
    position: fixed;
    top: 25%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: rgba(255, 255, 255, 0.356);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
    /* visibility: hidden; */
    padding: 30px;
    text-align: center;
}

#infos {
    margin-left: 252px;
    margin-right: 50%;
    width: 480px;
    height: 470px;
    /* justify-content: center; */
    /* align-items: center; */
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: bolder;
    color: white;
    margin-top: 100px;
    text-align: center;
    perspective: 500px;
    font-weight: 300;
    font-size: 35px;

}

#infos span {
    opacity: 0;
}

.signature {
    bottom: -10px;
    width: 250px;
    position: absolute;
    padding-left: 175px;
}

.signature img {
    width: inherit;
    
}

.left-shape {
    shape-outside: polygon(0% 0%, 255px 0%, 225px 6%, 182px 52px, 116px 81px, 25px 93px, 141px 290px, 240px 379px, 367px 450px, 0% 100%);
    float: left;
    width: 100px;
    height: 100%;
    bottom: 0px;
    border: 1px red solid;
}

.right-shape {
    /* shape-outside: polygon(191px 0%, 100% 0%, 100% 100%, 245px 100%, 373px 364px, 475px 256px, 442px 196px,300px 123px); */
    /* shape-outside: polygon(25px 0.2%, 100% 0.45%, 95.6% 100.2%, 79px 100.2%, 207px 365px, 309px 257px, 276px 197px, 134px 124px); */
    shape-outside: polygon(14px 371px, 124px 256px, 93px 200px, -51px 126px, -172px -5px, 161px 0px, 161px 450px, -138px 451px);

    float: right;
    width: 100px;
    height: 100%;
    bottom: 0px;
    border: 1px red solid;
}

.split {
    height: fit-content;
    /* margin-bottom: 50%; */
    margin: 0;
    position: absolute;
    top: 25%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    perspective: 500px;
}